@font-face {
  font-family: 'RF Rufo bold';
  font-display: swap;
  font-weight: 700;
  src: url(/Fonts/RFRufoBold.woff2),
       url(/Fonts/RFRufoBold.woff);

}

@font-face {
  font-family: 'Museo Sans 300';
  font-display: swap;
  font-weight: 300;
  src: url(/Fonts/MuseoSansCyrl_0.woff2),
       url(/Fonts/MuseoSansCyrl_0.woff);

}

@font-face {
  font-family: 'RF Rufo semibold';
  font-display: swap;
  font-weight: 600;
  src: url(/Fonts/RFRufoSemibold.woff2),
       url(/Fonts/RFRufoSemibold.woff);
}

@font-face {
  font-family: 'RF Rufo light';
  font-display: swap;
  font-weight: 100;
  src: url(/Fonts/RFRufoLight.woff2),
       url(/Fonts/RFRufoLight.woff);
}

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background-color: #F8F8F8;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.container {
  max-width: 1272px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.h2 {
  font-family: 'RF Rufo bold', 'Arial', sans-serif;
  font-size: 70px;
  line-height: 0.8;
  margin: 0 0 32px 0;
  color: #252529;
}

.p {
  font-family: 'Museo Sans 300', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 115%;
}

.visibility-hidden {
  visibility: hidden;
}

/* Header*/
.header {
  height: 114px;
  background-color: white;
}

.header-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.header__logo {
  max-width: 200px;
  margin-right: auto;
}

.header__nav-list {
  display: flex;
  justify-content: flex-end;
}

.header__nav-item {
  font-family: 'Museo Sans 300', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.header__nav-item:not(:last-child) {
  margin-right: 32px;
}

.header__nav-link {
  position: relative;
  color: #252529;
}

.header__nav-link:hover {
  color: #e82c4c;
}

.header__nav-link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #e82c4c;
  transform: scaleX(0);
  transition: transform 0.3s ease;  
}

.header__nav-link:hover::before {
  transform: scaleX(1);
}


/* First section */
.section-first__container {
  padding-top: 144px;
  padding-bottom: 144px;
  padding-left: 82px;
}

.section-first__content {
  max-width: 50%;
}

.section-first__h1 {
  margin-bottom: 32px;
  font-family: 'RF Rufo bold', 'Arial', sans-serif;
  font-size: 160px;
  line-height: 90%;
  text-transform: uppercase;
  margin: 0%;
  color: #252529
}


/* Logo section */
.section-logo__container {
  margin-bottom: 32px;
}

.section-logo__maincard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 2% 62px;
  margin-bottom: 32px;
  border-radius: 20px;
}

.section-logo__content-left {
  width: 60%;
}

.section-logo__content-right {
  width: 29%;
}

.section-logo__logo {
  max-width: 322px;
}

.logo-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;
  margin-bottom: 64px;
}

.logo-cards__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 30%;
  padding: 2em 2em;
  border-radius: 20px;
}

.logo-cards__card_white {
  background-color: white;
}

.logo-cards__card_black {
  background-color: #252529;
}

.logo-cards__card-img {
  max-height: 80px;
  margin-bottom: 0.8em;
}

.logo-cards__list {
  display: flex;
  justify-content: center;
}

.logo-cards__item {
  margin-right: 1em;
  font-family: 'Museo Sans 300', 'Arial', sans-serif;
  font-size: 16px;
  color: #828894;
}

.logo-cards__item:nth-child(3n) {
  margin-right: 0;
}

.logo-cards__link {
  color: #828894;
  transition: color 0.3s ease;
}

.logo-cards__link_black:hover {
  color: #252529;
  font-weight: 600;
}

.logo-cards__link_white:hover {
  color: white;
  font-weight: 600;
}

/* Section Color*/
.section-color_container {
  margin-bottom: 64px;
}

.section-color__maincard {
  background-color: white;
  padding: 2% 62px;
  border-radius: 20px;
}

.section-color__maincard-container {
  display: flex;
  justify-content: space-between;
}

.section-color__block {
  flex: 1 1 30%;
}

.section-color__block:not(:last-child) {
  margin-right: 32px;
}

.section-color__text {
  font-family: 'Museo Sans 300';
  font-size: 16px;
  line-height: 1;
  color: #a1a5ae;
  margin-bottom: 32px;
}

.section-color__hex {
  font-family: 'Museo Sans 300';
  font-size: 16px;
  line-height: 200%;
}

.section-color__rgb {
  font-family: 'Museo Sans 300';
  font-size: 16px;
}

.section-color__info_selection1::selection {
  background-color: #e82c4c;
  color: white;
}

.section-color__info_selection2::selection {
  background-color: #252529;
  color: white;
}

.section-color__info_selection3::selection {
  text-shadow: 1px 1px 2px #c6c6c6;
  color: #252529;
}

.section-color__info_selection4::selection {
  background-color: #f5f5f5;
  color: #252529;
}

.section-color__info_selection5::selection {
  background-color: #132c4b;
  color: white;
}

.section-color__info_selection6::selection {
  background-color: #c2a36b;
  color: white;
}

.section-color__info_grey {
  color: #828894;
}

.section-color__list {
  display: flex;
  flex-direction: column;
}

.circle {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  margin-right: 32px;
}

.section-color__item {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

/* Font section */
.section-font__container {
  margin-bottom: 64px;
  display: flex;
}

.section-font__left-card {
  flex: 0 1 30%;
  margin-right: 32px;
  padding: 2% 62px;
  background-color: white;
  border-radius: 20px;
}

.section-font__right-card {
  flex: 1 1 59%;
  padding: 2% 62px;
  background-color: white;
  border-radius: 20px;
}

.h2_outline {
  color: transparent;
  -webkit-text-stroke: 1.3px #252529;
}

.section-font__letters {
  font-family: 'RF Rufo semibold';
  font-size: 50px;
  word-spacing: 0.2em;
  margin-top: 0;
  margin-bottom: 15px;
}

.section-font__numbers {
  font-family: 'RF Rufo light';
  font-size: 40px;
  word-spacing: 0.2em;
  margin-top: 0;
}

/* Directions */
.section-directions__container {
  margin-bottom: 64px;
}

.section-directions__maincard {
  margin-bottom: 32px;
  padding: 2% 62px;
  background-color: white;
  border-radius: 20px;
}

.directions-cards {
  display: flex;
  justify-content: space-between;
  column-gap: 32px;
}

.directions-cards__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 32px;
}

.directions-cards__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 46%;
  padding: 2em 2em;
  border-radius: 20px;
}

.directions-cards__card:nth-child(1) {
  flex-basis: 100%;
}

.directions-cards__card_white {
  background-color: white;
}

.directions-cards__card_black {
  background-color: #252529;
}

.directions-cards__card-img {
  max-width: 125px;
  margin-bottom: 0.8em;
}

.directions-cards__list {
  display: flex;
}

.directions-cards__item {
  margin-right: 1em;
  font-family: 'Museo Sans 300', 'Arial', sans-serif;
  font-size: 16px;
  color: #828894;
}

.directions-cards__item:last-child {
  margin-right: 0;
}

.directions-cards__link {
  transition: color 0.3s ease;
  color: #828894;
}

.directions-cards__link_black:hover {
  color: #252529;
  font-weight: 600;
}

.directions-cards__link_white:hover {
  color: white;
  font-weight: 600;
}


/* Footer */
.footer {
  height: 114px;
  background-color: #252529;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 20 0;
}

.footer__block-left {
  display: flex;
  align-items: center;
  width: 40%;
}

.footer_logo {
  max-height: 40px;
  margin-right: 10px;
}

.footer_copyright {
  font-family: 'Museo Sans 300';
  font-size: 14px;
  color: white;
}

.questions {
  font-family: 'Museo Sans 300';
  font-size: 14px;
  color: white;
}

/* .socialmedia-icon {
  background-color: white;
  border-radius: 50%;
  height: 48px;
  width: 48px;
}

.footer_socials {
  display: flex;
} */